<!DOCTYPE html>
<html>
	<head>
		<title>About Us</title>
		<meta name='viewport' content='width=device-width', initial-scale='1'>
		<link rel="stylesheet" type="text/css" href="css/reset.css">
		<link rel="stylesheet" type="text/css" href="css/global.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	</head>
	<body>
		<div class="wrapper">
			<div class="content">
				<h2>About us</h2>
				<p>Harea aumennec in velit veaugun erase diam lor innia est. Proin dium elemum velit. terdpibus sceleue vitaepeecon eracinia ferment.
				</p>
				<p>
				Donec in vel ipsum auctorulvinaroin ullamcorper u et feum iaculis lacinia est. Proin dictum elemenelit. Fusce euismod consequat antrem ipsm dolor sitmet consectetuer adipiscing elit. Pellesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi aliquet sit amet euismod in auctor ut ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor lobortis quis lobortis dignissim pulvinar ac lorem. Vestibulum sed ante. Donec sagittis euismod purus.Vestibulum sed ante. Donec sagittis euismod purus.
				</p>
			</div> <!-- end content -->
		</div> <!-- end wrapper -->
		<script type="text/javascript" src='../../scripts/jquery.min.js'></script>
		<script type="text/javascript" src='../../scripts/bootstrap.js'></script>
	</body>
</html>