body{
	background: white;
	margin-top: 0;
}

.logo {
 padding:45px 0 50px 40.9%; 
}

.tap1{
	background: #323A45;
	max-width: 1300px;
	min-height: 170px;
	margin: 0;
	position: relative;
}

.tap1:before{
	content: "";
    position: absolute;
    top: 100%;
    left: 47.5%;
    width: 0;
    height: 0;

    border-left: 29px solid transparent;
    border-top: 28px solid #323A45;
    border-right: 29px solid transparent;
}

.box{
	float: left;
	margin:105px 0 0 0;
	height: 438px;
	width: 455px;
	background: white;
	padding-left:20px;
}

.text{
	padding-top: 90px;
	padding-left: 0;
}

.info{
	margin: 0 0 0 192px;
	padding-top: 100px;
	min-height: 980px;
}

.mail{
	color: black;
}

.info:before{
	content: "";
    position: absolute;
    top: 143.5%;
    left: 47.5%;
    width: 0;
    height: 0;

    border-left: 29px solid transparent;
    border-top: 28px solid #ED6C4D;
    border-right: 29px solid transparent;
}

.text p{
	text-align: left;
	color: white;
	font-family: avenir Next;
	font-size:17px;
	line-height:26px;
	font-weight: lighter;
	margin: 10px 0 25px 25px;
	letter-spacing: -1px;
}

h2{
	color: white;
	font-size: 47px;
	font-family: Avenir Next;
	font-weight: lighter;
	height: 70px;
}

.footer{
	height: 850px;
	background:#303741;
}

.title h2{
	padding: 95px 0 0;
    float: left;
    margin-left: 165px;
}

.form-control{
	background: #292f39;
	color: white;
	border-radius: 0;
	border: 1px solid transparent;
}

.form_sing{
	padding-top: 260px;
	padding-left: 100px;
}

textarea.form-control {
	width: 89%;
    height: 165px;
    margin-bottom: 45px;
}

input.form-control{
	height: 47px;
}

input.nameForm.form-control{
	width: 300px;
}

input.mailForm.form-control{
	width: 300px;
}

input.phoneForm.form-control{
	width: 300px;
}

.nameForm{
	margin:0 15px 20px 0;
}

.mailForm{
	margin:0 15px 20px 0;
}

.phoneForm{
	margin:0 15px 20px 0;
}

a{
    text-decoration: none;
    color: white;
    font: italic 23px impact; 
}

.send{
	margin: 0 20px 0 165px;
}