<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/reset.css">
		<link rel="stylesheet" type="text/css" href="css/global.css">
		<meta name="viewport" content="width=device-">
	</head>
	<body>
		<div class="wrapper">
			<nav>
				<ul>
					<li>Home</li>
					<li>About</li>
					<li>Services</li>
					<li>Blog</li>
					<li>Contacts</li>
				</ul>
			</nav>
			<div id="talkbubble">
				
			</div>



		</div>
	</body>
</html>