<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../styles/style.css">
    <link rel="stylesheet" type="text/css" href="css/global.css">
    <base></base>
  </head>
  <body>
    <div class="container-fluid wrapper">
    <!--begin nav --> 
      <header>
        <nav class="navbar navbar-default ">
          <div class="container-fluid">
            <div class="navbar-header">
            <!--creates a button for small screen-->
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-1">
                <span class="sr-only">menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!--creates a button for small screen  end-->
            </div>
            <div class="collapse navbar-collapse" id="navbar-1">
              <ul class="nav navbar-nav">
                <li><a href="#">HOME</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                    ABOUT <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#"></a>ABOUT</li>		
                      <li><a href="#"></a>TEAM</li>
                      <li><a href="#"></a>NEWS</li>
                      <li><a href="#"></a>AWARDS</li>
                      <li><a href="#"></a>SOLUTIONS</li>
                      <li><a href="#"></a></li>
                  </ul>
                </li>
                <li><a href="#">SERVICES</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">CONTACTS</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <!--end nav --> 
      <!--begin tap-1 --> 
      <div class="container-fluid tap1">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 logo" >
            <img src="../../images/logo/logo.bmp">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          		<h2 class="title1"><span>THE WORLD</span> OF OPORTUNITIES</h2>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12  circles" >
          	<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 "></div>
	          	<!--begin analysis (circle) --> 
	          <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 ">
	          	<section class="analysis">
                  <img src="images/clock.png">
                  <a href="#">ANALYSIS</a>
              </section>
	          </div>
	          <!--end analysis (circle) --> 

	          <!--begin solutions (circle) --> 
	          <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 "> 
	          	<section class="solutions">
                <img src="images/folder.png">
                <a href="#">SOLUTIONS</a>  
              </section>
	          </div>
	          <!--end solutions (circle) -->

	          <!--begin strategies (circle) --> 
	          <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 ">
	          	<section class="strategies">
                <img src="images/gear.png">
                <a href="#">STRATEGIES</a>  
              </section>
	          </div>
	          <!--end strategies (circle) -->

	          <!--begin experience (circle) --> 
	          <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 ">
	          	<section class="experience">
                <img src="images/star.png">
                <a href="#" >EXPERIENCE</a>
              </section>
	          </div>
	          <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 "></div>
	          <!--end experience (circle) --> 
          </div>
      </div>
    </div>
    <!--end tap-1 --> 
    <!--begin tap2 -->
    <div class="container-fluid tap2">
    	<div class="row">
    		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    			<h2 class="title2">LATEST EVENTS</h2>
    		</div>
    		<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 "></div>
    		<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2  event-1">
    			<h3 class="date">23 <small> March </small></h3>
    			<p>Workshop for the Libyan police on the prevention and fight against illicit trafficking of cultural property.</p>
    			<a href="#" class="more">MORE</a>
    		</div>
    		<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 event-2">
    			<h3 class="date">06 <small>March</small></h3>
    			<p>19th session of the General Assembly of the States Parties to the World Heritage Convention.</p>
    			<a href="#" class="more">MORE</a>
    		</div>
    		<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 event-3">
    			<h3 class="date">27 <small>March</small></h3>
    			<p>World Philosophy Day 2013: "Inclusive Societies, Sustainable Planet".</p>
    			<a href="#" class="more">MORE</a>
    		</div>
    		<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 event-4">
    			<h3 class="date">08 <small>March</small></h3>
    			
    			<p>Arab reporters meet in Jordan to discuss journalistic coverage of elections.</p>
    			<a href="#" class="more">MORE</a>
    		</div>
    		<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 "></div>
    	</div>
    </div>
    <!-- end tap2 -->
    <!--begin tap3 -->
    <div class="container-fluid tap3">
    	<div class="row">
    		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    			<h3 class="title3">WHO WE ARE? <small> NONUMMYENDRERT MURIPHHASELL</small></h3>
          <img src="images/bag.png"class="bag">
          <div class="paragraf-1">
            <p>Aenean nonummyendret mauris.
            Phasellus porta. Fusce susciptip
            varius mi.um sociis nato.</p>
            <a href="#" class="more">MORE</a>
          </div>
    			
    		</div>
    		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    			<h3 class="title4">WHAT WE DO <small>AENEAN NONUMMYENDRERIT</small></h3>
    			<div class="paragraf-2">
            <p>Varius mi.um sociis natoque penati
            bus et magnisis</p>
    			 <a href="#" class="more">MORE</a>
    		</div>
    		
    	</div>
    </div>
    <!-- end tap3 -->
    <!--begin tap4 -->
    <div class="container-fluid tap4">
    	<div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"></div>
    		<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
          <img src="images/location.png"> 
          <p>9863 - 9867 Mill Road, Cambridge, MG09 99HT Fax: +1 800 559 6580</p>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
          <img src="images/laptop.png">
          <p>Email collaboration Twitter / Instagram Made in 2013</p>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"></div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <img src="images/logo2.png"  class="logo">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <img src="images/arrow.png" >
        </div>
    	</div>
    </div>
    <!--end tap4 -->
    <script src="scripts/jquery.min.js"></script>
    <script src="scripts/bootstrap.js"></script>
  </body>
</html>