<!DOCTYPE html>
<html>
	<head>
		<title> Services </title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="css/global.css"/>
	</head>	
	<body>

		<div class="wrapper" >
			
			<nav id="information">
			</nav> 	

			<div class="principal container-fluid"> 
				<section class="main row">
					<div class="empty col-xs-12 col-md-2 col-lg-2">
					</div>

					<div class="main_services col-xs-12 col-md-10 col-lg-4">
						<h2> MAIN SERVICES </h2>
						<ul>
							<li> ULTRICES POSUERE CUBILIA CURAE </li>
							<li> UT PHARETRA AUGUE NEC AUGUE </li>
							<li> NAM ELIT AGNA, ENDERIT SIT AMET </li>
							<li> TINCIDUNT AC, VIVERRA SED, NULLA </li>
							<li> DONEC PORTA DIAM EU MASSA </li>
							<li> QUISQUE DIAM LOREM </li>
							<li> INTERDUM VITAE,DAPIBUS AC </li>
							<li> SCELERISQUE VITAE, PEDE </li>
							<li> DONEC EGET TELLUS NON ERAT </li>
							<li> LACINIA FERMENTUM </li>
							<li> VESTIBULUM IACULIS LACINIA EST </li>
							<li> PROIN DICTUM ELEMENTUM VELIT </li>
							<li> FUSCE EUISMOD CONSEQUAT ANTE </li>
							<li> LOREM IPSUM DOLOR SIT AMET </li>
							<li> Consectetuer ADIPISCING ELIT </li>
							<li> PELLENTESQUE SED DOLOR </li>
						</ul>
					</div> <!-- end main_services -->

					<div class="features_services col-xs-12 col-md-6 col-lg-6">
						<h2> FEATURED SERVICES </h2>
						<div class="solution_1 ">
							<img src="images/services_circle.png" class="solution">
							<h3> SUSPENDISSE SOLLICITUDIN VELIT SED </h3>
							<p class="first">
								Umennec in velit veaugun erase diam lor innia est.Proin <br> dictum elemum velit terdpibus sceleue vitaepeecon <br> eracinia ferment
							</p>
						</div>

						<div class="solution_2">
							<img src="images/services_desktop2.png" class="info">
							<h3> SUSPENDISSE SOLLICITUDIN VELIT SED </h3>
							<p class="second">
								Umennec in velit veaugun erase diam lor innia est.Proin <br> dictum elemum velit terdpibus sceleue vitaepeecon <br> eracinia ferment
							</p>
						</div>
					</div>
						
				</section><!-- end rows -->
			</div> <!-- end container-fluid -->
			
			<!--<div class="container-fluid">
				<section ="rows">
					<div class="title col-xs-12">
						<h2> SERVICES OVERVIEW </h2>
						<span class="subtitle"> NONUMMYENDRERIT MAURIPHASELL </span>
					</div>
					<div class="contain col-xs-12">
						<div class="part_1 col-xs-12 col-md-3 col-lg-3">
							<img src="images/first.png" class="firstImg">
							<p>
								Varius mi.um sociis natoque penati bus et <br> magnisis parrient montes nascetur <br> ridicumus.
							</p>
							<a href="#">MORE</a>
						</div>
					
						<div class="part_2 col-xs-12 col-md-3 col-lg-3">
							<img src="images/second.png" class="secondImg">
							<p>
								Varius mi.um sociis natoque penati bus et <br> magnisis parrient montes nascetur <br> ridicumus.
							</p>
							<a href="#">MORE</a>
						</div>
						
						<div class="part_3 col-xs-12 col-md-3 col-lg-3">
							<img src="images/third.png" class="thirdImg">
							<p>
								Varius mi.um sociis natoque penati bus et <br> magnisis parrient montes nascetur <br> ridicumus.
							</p>
							<a href="#">MORE</a>
						</div>
					
						<div class="part_4 col-xs-12 col-md-3 col-lg-3">
							<img src="images/forth.png" class="forthImg">
							<p>
								Varius mi.um sociis natoque penati bus et <br> magnisis parrient montes nascetur <br> ridicumus.
							</p>
							<a href="#">MORE</a>
						</div>
					</div> -->
					 <!-- end contain -->	
				<!--</section> end rows -->	
			</div> <!-- end container -->
		</div> <!-- end wrapper -->
		<script src="js/bootstrap.js"> </script>
		<script src="js/jquery.min.js"> </script>
	</body>
</html>