<!DOCTYPE html>
<html>
	<head>
		<title> Services </title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../../styles/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="css/global.css"/>
		<link rel="stylesheet" type="text/css" href="../../styles/style.css">
	</head>	
	<body>

	<div class="wrapper" >
			
			<!--begin nav --> 
      <header>
        <nav class="navbar navbar-default ">
          <div class="container-fluid">
            <div class="navbar-header">
            <!--creates a button for small screen-->
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-1">
                <span class="sr-only">menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!--creates a button for small screen  end-->
            </div>
            <div class="collapse navbar-collapse" id="navbar-1">
              <ul class="nav navbar-nav">
                <li><a href="#">HOME</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                    ABOUT <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#"></a>ABOUT</li>
                      <li><a href="#"></a>TEAM</li>
                      <li><a href="#"></a>NEWS</li>
                      <li><a href="#"></a>AWARDS</li>
                      <li><a href="#"></a>SOLUTIONS</li>
                      <li><a href="#"></a></li>
                  </ul>
                </li>
                <li><a href="#">SERVICES</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">CONTACTS</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <!--end nav --> 	

      	<div class="container-fluid tap1">
        	<div class="row">
          		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 logo" >
            		<img src="images/logo.bmp">
          		</div>
        	</div>
    	</div>

			<div class="principal container-fluid"> 
				<section class="main row">

					<div class="main_services col-xs-12 col-md-10 col-lg-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-2 col-lg-offset-2">
						<h2> MAIN SERVICES </h2>
						<ul>
							<li> ULTRICES POSUERE CUBILIA CURAE </li>
							<li> UT PHARETRA AUGUE NEC AUGUE </li>
							<li> NAM ELIT AGNA, ENDERIT SIT AMET </li>
							<li> TINCIDUNT AC, VIVERRA SED, NULLA </li>
							<li> DONEC PORTA DIAM EU MASSA </li>
							<li> QUISQUE DIAM LOREM </li>
							<li> INTERDUM VITAE,DAPIBUS AC </li>
							<li> SCELERISQUE VITAE, PEDE </li>
							<li> DONEC EGET TELLUS NON ERAT </li>
							<li> LACINIA FERMENTUM </li>
							<li> VESTIBULUM IACULIS LACINIA EST </li>
							<li> PROIN DICTUM ELEMENTUM VELIT </li>
							<li> FUSCE EUISMOD CONSEQUAT ANTE </li>
							<li> LOREM IPSUM DOLOR SIT AMET </li>
							<li> Consectetuer ADIPISCING ELIT </li>
							<li> PELLENTESQUE SED DOLOR </li>
						</ul>
					</div> <!-- end main_services -->

					<div class="features_services col-xs-12 col-md-6 col-lg-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-md-offset-0">
						<h2> FEATURED SERVICES </h2>
						
						<div class="solution_1 ">
							<img src="images/services_circle.png" class="solution">
							<h3> SUSPENDISSE SOLLICITUDIN VELIT SED </h3>
							<p class="first">
								Umennec in velit veaugun erase diam lor innia est.Proin <br> dictum elemum velit terdpibus sceleue vitaepeecon <br> eracinia ferment
							</p>
						</div>

						<div class="solution_2">
							<img src="images/services_desktop2.png" class="info">
							<h3> SUSPENDISSE SOLLICITUDIN VELIT SED </h3>
							<p class="second">
								Umennec in velit veaugun erase diam lor innia est.Proin <br> dictum elemum velit terdpibus sceleue vitaepeecon <br> eracinia ferment
							</p>
						</div>
					</div>
						
				</section><!-- end rows -->
			</div> <!-- end container-fluid -->
			
			<div class="footer">
				
				<div class="title">
					<h2> SERVICES OVERVIEW </h2>
					<span class="subtitle"> NONUMMYENDRERIT MAURIPHASELL </span>
				</div>

				<div class="container-fluid">
					<section ="rows">
						<div class="part_1 col-xs-12 col-md-4 col-lg-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-2">
							<img src="images/first.png" class="firstImg">
							<p>
								Varius mi.um sociis natoque penati bus et <br> magnisis parrient montes nascetur <br> ridicumus.
							</p>
							<a href="#">MORE</a>
						</div>
					
						<div class="part_2 col-xs-12 col-md-6 col-lg-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-0">
							<img src="images/second.png" class="secondImg">
							<p>
								Varius mi.um sociis natoque penati bus et <br> magnisis parrient montes nascetur <br> ridicumus.
							</p>
							<a href="#">MORE</a>
						</div>
					</section> <!-- end rows -->	
				</div>  <!-- end container -->
				<div class="container-fluid">
					<section ="rows">
						<div class="part_3 col-xs-12 col-md-4 col-lg-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-2">
							<img src="images/third.png" class="thirdImg">
							<p>
								Varius mi.um sociis natoque penati bus et <br> magnisis parrient montes nascetur <br> ridicumus.
							</p>
							<a href="#">MORE</a>
						</div>
					
						<div class="part_4 col-xs-12 col-md-6 col-lg-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-0">
							<img src="images/forth.png" class="forthImg">
							<p>
								Varius mi.um sociis natoque penati bus et <br> magnisis parrient montes nascetur <br> ridicumus.
							</p>
							<a href="#">MORE</a>
						</div>
					</section> <!-- end rows -->	
				</div>  <!-- end contain -->	
			</div> <!-- end container -->
		</div> <!-- end wrapper -->
		<script src="js/bootstrap.js"> </script>
		<script src="js/jquery.min.js"> </script>
	</body>
</html>