<!DOCTYPE html>
<html>
	<head>
		<title> Blog </title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="css/global.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/style.css"/>
	</head>	
	<body>
		<div class="container-fluid wrapper">
			<div class="container-fluid wrapper">
			<!--begin nav --> 
      <header>
        <nav class="navbar navbar-default ">
          <div class="container-fluid">
            <div class="navbar-header">
            <!--creates a button for small screen-->
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-1">
                <span class="sr-only">menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <!--creates a button for small screen  end-->
            </div>
            <div class="collapse navbar-collapse" id="navbar-1">
              <ul class="nav navbar-nav">
                <li><a href="#">HOME</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                    ABOUT <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#"></a>ABOUT</li>
                      <li><a href="#"></a>TEAM</li>
                      <li><a href="#"></a>NEWS</li>
                      <li><a href="#"></a>AWARDS</li>
                      <li><a href="#"></a>SOLUTIONS</li>
                      <li><a href="#"></a></li>
                  </ul>
                </li>
                <li><a href="#">SERVICES</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">CONTACTS</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>
      <!--end nav --> 

    <div class="container-fluid tap1">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 logo" >
            <img src="images/logo.bmp">
          </div>
        </div>
    </div>      

    	<div class="principal container-fluid"> 
				<section class="main row">

					<div class="search col-xs-12 col-md-4 col-lg-5 col-lg-offset-1">
						<h2> BLOG </h2>
						<img src="images/blog_1.png">
						<span class="date">27</span>
						<span class="month">MARCH</span>

						<p>Varius mi.um sociis natoque penati bus et magnisis parrient montes<br> nascetur ridicumus. Nulla duisce feut malesuada odio. Morbi nunc<br> odio gravidatcursec luctus a lorem. Maecenas tristique orci aem.<br> Duis ultricies pharetra magnanec accumsan malesuada orci. Donec<br> sit amet eros.</p>

						<a href="#">MORE</a>
					</div> <!-- end main_services -->

					<div class="info col-xs-12 col-md-6 col-lg-5">
						<h2> CATEGORIES </h2>
						<ul>
							<li> ULTRICES POSUERE CUBILIA CURAE </li>
							<li> UT PHARETRA AUGUE NEC AUGUE </li>
							<li> NAM ELIT AGNA, ENDERIT SIT AMET </li>
							<li> TINCIDUNT AC, VIVERRA SED, NULLA </li>
							<li> DONEC PORTA DIAM EU MASSA </li>
							<li> QUISQUE DIAM LOREM </li>
							<li> INTERDUM VITAE,DAPIBUS AC </li>
							<li> SCELERISQUE VITAE, PEDE </li>
							<li> DONEC EGET TELLUS NON ERAT </li>
							<li> LACINIA FERMENTUM </li>
							<li> VESTIBULUM IACULIS LACINIA EST </li>
							<li> PROIN DICTUM ELEMENTUM VELIT </li>
							<li> FUSCE EUISMOD CONSEQUAT ANTE </li>
							<li> LOREM IPSUM DOLOR SIT AMET </li>
							<li> Consectetuer ADIPISCING ELIT </li>
							<li> PELLENTESQUE SED DOLOR </li>
						</ul>
					</div> <!-- end main_services -->

				</section><!-- end rows -->
			</div> <!-- end container-fluid -->

			<div class="secondary container-fluid"> 
				<section class="main row">

					<div class="search_2 col-xs-12 col-md-4 col-lg-5 col-lg-offset-1">
						<img src="images/blog_2.png">
						<span class="date">30</span>
						<span class="month">MARCH</span>

						<p>Varius mi.um sociis natoque penati bus et magnisis parrient montes<br> nascetur ridicumus. Nulla duisce feut malesuada odio. Morbi nunc<br> odio gravidatcursec luctus a lorem. Maecenas tristique orci aem.<br> Duis ultricies pharetra magnanec accumsan malesuada orci. Donec<br> sit amet eros.</p>

						<a href="#">MORE</a>
					</div> <!-- end main_services -->

					<div class="archive col-xs-12 col-md-6 col-lg-5">
						<h2> ARCHIVE </h2>
						<ul>
							<li> APRIL 2013 </li>
							<li> MARCH 2013 </li>
							<li> FEBRUARY2013 </li>
							<li> JANUARY 2013 </li>
							<li> DECEMBER 2012 </li>
							<li> NOVEMBER 2012 </li>
							<li> OCTOBER 2012 </li>
							<li> SEPTEMBER 2012 </li>
							<li> AUGUST 2012 </li>
							<li> JULY 2012 </li>
							<li> JUNE 2012 </li>
						</ul>
					</div> <!-- end main_services -->

				</section><!-- end rows -->
			</div> <!-- end container-fluid -->
		</div> <!-- end wrapper -->
	</body>
</html>		