
/*end Nav*/
.logo {
 padding:45px 0 50px 40.9%; 
}

.title1 {
	font: lighter 52px "Avenir Next";
	color: #FFF;
	text-align: center;
}
.title1 span{
	color: #ED6C4D;
}
.tap1{
	background: #323A45;
	max-width: 1300px;
	min-height: 726px;
	margin: 0;
	position: relative;
}
.analysis{
	width: 260px;
	height: 260px;
	background: transparent;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 130px;
	z-index: 1;
	border:1px solid white;
}
/*circles*/
.circles{
	padding: 50px 0 0 0;
}
.circles section:hover	{
	background: #ED6C4D;
	border:none;
}
.circles img{
	padding: 32% 0 0 36%;
}
.circles a{
	padding: 40% 0 0 29%;
	font:  19px "Avenir Next";

}

.solutions{
	
	width: 260px;
	height: 260px;
	background: transparent;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 130px;
	border:1px solid white;
}
.strategies{
	width: 260px;
	height: 260px;
	background: transparent;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 130px;
	border:1px solid white;
}
.experience{
	width: 260px;
	height: 260px;
	background: transparent;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 130px;
	border:1px solid white;
}
/*end circles*/
.tap2{
	background: #ED6C4D;
	max-width: 1300px;
	min-height: 777px;
	margin: 0;
	position: relative;
}
.date{
	font:italic lighter 88px impact;
    color:#FFF;
    padding: 0 0 43px 0;
}
.date small{
	font:italic lighter 15px impact;
    color:#FFF;
}
.title2{
	font: lighter 49px "Avenir Next";
	color: #FFF;
	text-align: center;
	padding: 95px 3% 71px 15px;
}
.event-1{
	min-height: 418px;
}
.event-2{
	border-right: 1px solid white;
	border-left:1px solid white;
	min-height: 418px;
}
.event-3{
	border-right: 1px solid white;
	min-height: 418px;
}
.event-4{
	min-height: 418px;
}

.tap3{
	background: #323A45;
	max-width: 1300px;
	min-height: 646px;
	margin: 0;
	position: relative;
}
.title3{
	font: lighter 49px "Avenir Next";
	color: #FFF;
	text-align: center;
	padding: 16% 3% 64px 17%
}
.title4{
	font: lighter 49px "Avenir Next";
	color: #FFF;
	text-align: center;
}
.title4 small{
	font: lighter 15px "Avenir Next";
    color:#FFF;
    padding: 0;
}
.title3 small{
	font: lighter 15px "Avenir Next";
    color:#FFF;
    padding: 0;
}
.bag{
	position: relative;
	left: 27%;
}

.paragraf-1{
	width: 236px;
	height: 137px;
	position: relative;
	left: 50%;

}
.tap4{
	background: #292F39;
	max-width: 1300px;
	min-height: 637px;
	margin: 0;
}
.tap1:before {
   	content:"";
   	position: absolute;
   	top: 100%;
   	left: 47.5%;
   	width: 0;
   	height: 0;
   	border-left: 25px solid transparent;
   	border-top: 26px solid #323A45;
   	border-right: 25px solid transparent;
   	z-index: 1;
}
.tap2:before {
   	content:"";
   	position: absolute;
   	top: 100%;
   	left: 47.5%;
   	width: 0;
   	height: 0;
   	border-left: 25px solid transparent;
   	border-top: 26px solid #ED6C4D;
   	border-right: 25px solid transparent;
   	z-index: 1;
}
.tap3:before {
   	content:"";
   	position: absolute;
   	top: 100%;
   	left: 47.5%;
   	width: 0;
   	height: 0;
   	border-left: 25px solid transparent;
   	border-top: 26px solid #323A45;
   	border-right: 25px solid transparent;
   	z-index: 1;
}
.more{
    font:italic lighter 20px impact;
    color:#FFF;
}
p{
	color: #FFF;
}