.wrapper{
	background: #ED6C4D;
	margin: 0 auto;
	padding: 16px 0 23px 0;
	max-width: 1300px;
	min-width: 361px;

}
.navbar{
	background: #323A45;
	height: 77px;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid white;
	margin: 0;
}
.navbar li{	
	font:  19px "Avenir Next";

}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active{
color: #FFF;
z-index: 1;
}

a{
	color: white;
}
 li:active{
	background: #282F39;
	border-bottom: 3px solid #ED6C4D;

}
.logo {
 padding:45px 0 50px 40.9%; 
}

.title1 {
	font: lighter 52px "Avenir Next";
	color: #FFF;
	text-align: center;
}
.title1 span{
	color: #ED6C4D;
}
.tap1{
	background: #323A45;
	max-width: 1300px;
	min-height: 726px;
	margin: 0;
	position: relative;
}
.analysis{
	width: 260px;
	height: 260px;
	background: transparent;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 130px;
	z-index: 1;
	border:1px solid white;
}
.circles{
	padding: 50px 0 0 0;
}
.circles section:hover	{
	background: #ED6C4D;
	border:none;
}

.solutions{
	
	width: 260px;
	height: 260px;
	background: transparent;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 130px;
	border:1px solid white;
}
.strategies{
	width: 260px;
	height: 260px;
	background: transparent;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 130px;
	border:1px solid white;
}
.experience{
	width: 260px;
	height: 260px;
	background: transparent;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 130px;
	border:1px solid white;
}
.tap2{
	background: #ED6C4D;
	max-width: 1300px;
	min-height: 777px;
	margin: 0;
	position: relative;
}
.title2{
	font: lighter 49px "Avenir Next";
	color: #FFF;
	text-align: center;
	padding: 93px 3% 0 0;
}
.tap3{
	background: #323A45;
	max-width: 1300px;
	min-height: 646px;
	margin: 0;
	position: relative;
}
.tap4{
	background: #292F39;
	max-width: 1300px;
	min-height: 637px;
	margin: 0;
}
.tap1:before {
   	content:"";
   	position: absolute;
   	top: 100%;
   	left: 47.5%;
   	width: 0;
   	height: 0;
   	border-left: 25px solid transparent;
   	border-top: 26px solid #323A45;
   	border-right: 25px solid transparent;
   	z-index: 1;
}
.tap2:before {
   	content:"";
   	position: absolute;
   	top: 100%;
   	left: 47.5%;
   	width: 0;
   	height: 0;
   	border-left: 25px solid transparent;
   	border-top: 26px solid #ED6C4D;
   	border-right: 25px solid transparent;
   	z-index: 1;
}
.tap3:before {
   	content:"";
   	position: absolute;
   	top: 100%;
   	left: 47.5%;
   	width: 0;
   	height: 0;
   	border-left: 25px solid transparent;
   	border-top: 26px solid #323A45;
   	border-right: 25px solid transparent;
   	z-index: 1;
}
