.wrapper{
	background: #ED6C4D;
	width: 1300px;
	height: 2897px;
	margin: 0 auto;
	padding: 16px 0 0 0;
}
.navbar{
	background: #323A45;
	width: 1300px;
	height: 77px;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid white;
	margin: 0 auto;
	padding: 0 0 0 299px;

}
.navbar li{	
	font:  19px "Avenir Next";
	text-align: center;
	height: 63px;
	position: relative;
	top: 15px;

}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active{
color: #FFF;
text-decoration: none;
}

a{
	color: white;
	

}

 li:active{
	background: #282F39;
	border-bottom: 3px solid red;

}
.tap1{
	background: #323A45;
	height: 728px;	
	margin: 0;
	position: relative;
}
.tap2{
	background: #ED6C4D;
	height: 777px;	
	margin: 0;
	position: relative;
}
.tap3{
	background: #323A45;
	height: 646px;
	margin: 0;
	position: relative;
}
.tap1:before {
   	content:"";
   	position: absolute;
   	top: 100%;
   	left: 616px;
   	width: 0;
   	height: 0;
   	border-left: 25px solid transparent;
   	border-top: 26px solid #323A45;
   	border-right: 25px solid transparent;
   	z-index: 1;
}
.tap2:before {
   	content:"";
   	position: absolute;
   	top: 100%;
   	left: 616px;
   	width: 0;
   	height: 0;
   	border-left: 25px solid transparent;
   	border-top: 26px solid #ED6C4D;
   	border-right: 25px solid transparent;
   	z-index: 1;
}
.tap3:before {
   	content:"";
   	position: absolute;
   	top: 100%;
   	left: 616px;
   	width: 0;
   	height: 0;
   	border-left: 25px solid transparent;
   	border-top: 26px solid #323A45;
   	border-right: 25px solid transparent;
   	z-index: 1;
}
