body{
	background: white;
	margin-top: 0;
}

.wrapper{
	max-width: 1300px;
	min-width: 361px;
	background: #ED6C4D;
	margin: 0 auto;
	padding: 16px 0 23px 0;
}

.solution_1 img{

	margin-right: 15px;
}

.solution_2 img{
	float: left;
	margin-right: 15px;
}

.solution_1 h3{

	margin-left: 0;
}

.solution_2 h3{

	margin-left: 0;
}

.navbar{
	background: #323A45;
	height: 77px;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid white;
	margin: 0;
}
.navbar li{	
	font:  19px "Avenir Next";

}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:active{
color: #FFF;
z-index: 1;
}

a{
	color: white;
}
 li:active{
	background: #282F39;
	border-bottom: 3px solid #ED6C4D;

}

.logo {
 padding:45px 0 50px 40.9%; 
}

.tap1{
	background: #323A45;
	max-width: 1300px;
	min-height: 170px;
	margin: 0;
	position: relative;
}

.tap1:before{
	content: "";
    position: absolute;
    top: 100%;
    left: 47.5%;
    width: 0;
    height: 0;

    border-left: 29px solid transparent;
    border-top: 28px solid #323A45;
    border-right: 29px solid transparent;
}

.principal{
	margin-top: 95px;
}

.principal:before{
	content: "";
    position: absolute;
    top: 140%;
    left: 47.5%;
    width: 0;
    height: 0;

    border-left: 29px solid transparent;
    border-top: 28px solid #ED6C4D;
    border-right: 29px solid transparent;
}

.footer{
	height: 1100px;
	background:#313A45 ;
	margin-top: 40px;
}

.main_services{
	top: 16px;
	text-align: left;
	float: left;
	width: 406px;
	padding-right: 0px;
}

h2{
	color: white;
	font-size: 47px;
	font-family: Avenir Next;
	font-weight: lighter;
	margin-bottom: 60px;
	height: 70px;
}



h3{
	width: 424px;
	color: white;
	float: left;
	font:normal 18px avenir Next;
	font-weight: lighter;
	margin:0px 0 24px 15px;
}

/*.features_services*/ 
p{
	color: white;
	font-family: avenir Next;
	font-weight: lighter;
	font-size: 15px;
	line-height:24px;
}

.features_services .solution_2 h3{
	padding-top:  5px;
}

.first{
	padding-top: 70px;

}
.second{
	padding-top: 70px;

}

.features_services{
	float: left;
	/*width: 650px;*/
	display: block;
	/*background: black;*/
	margin-top: 16px;
	height: 645px;
}

.features_services h2{
	margin-left: 27px;
}

.features_services p{
	margin-left: 161px;
	width: 90%;
}

.main_services h2{
	margin-right: 20px;
	font-size: 48px;
}

.solution_1{
	margin-bottom: 120px;
	height: 105px;
}

.solution_2{
	margin-bottom: 120px;
	height: 105px;
}
.solution{
	float: left;
}

ul{
	margin-top: 65px;
	margin-left: 25px;

}

li{
	list-style-image: url(../images/services.png);
	font-size: 15px;
	font-family: Avenir Next;
	color: white;
	font-weight: lighter;
	line-height:30px;
}

.title{
	text-align: center;
	line-height: 1px;
	margin-bottom: 90px;
}

.title h2{
	padding-top: 110px;
	letter-spacing: -1px;
	font-size: 46px
}

.title .subtitle{
	color: gray;
	font:normal 11px avenir Next;
	font-weight: lighter;

}

.firstImg{
	float: left;
}

.secondImg{
	float: left;
}

.thirdImg{
	float: left;
}

.forthImg{
	float: left;
}

.part_1{
	height: 210px;
	float: left;
	margin-bottom: 18px;
}
.part_2{
	float: left;
	height: 210px;
	
}
.part_3{
	float: left;
	height: 180px;
	
}
.part_4{
	float: left;
	height: 180px;
}

.footer p{
	width: 90%;
	margin: 10px 0 35px 155px;
} 

a{
	text-decoration: none;
	color: white;
	font:italic 22px impact;
	margin:0 0 0 20px;
}

a:visited{
	text-decoration: none;
	color: white;
	font-size: 20px;
}
